<ul class="nav nav-pills m-5">
    <li class="nav-item d-block mx-auto">
      <a class="nav-link "  routerLink="movies"  routerLinkActive="active">Movies</a>
    </li>
    <li class="nav-item d-block mx-auto">
      <a class="nav-link " routerLink="tvseries"  routerLinkActive="active">TV Series</a>
    </li>
    <li class="nav-item d-block mx-auto">
      <a class="nav-link  " routerLink="games"  routerLinkActive="active">Games</a>
    </li>
    <li class="nav-item d-block mx-auto">
        <a class="nav-link  " routerLink="musicvideos"  routerLinkActive="active">Music Videos</a>
      </li>
      <li class="nav-item d-block mx-auto">
        <a class="nav-link  " routerLink="anime"  routerLinkActive="active">Anime</a>
      </li>
   
  </ul>
  
  
  <div class ="container">
  <router-outlet></router-outlet>
  </div>


