
<div class="card h-100 bg-dark    ">
    <div class="card-item ">
    <img class="img-thumbnail p-3  mb-3" src="{{display.image}}" width="300px" height="300px" >
    <div class="card-body">
        <p id="c1" >TITLE :  {{display.title}}   </p>
        <p id="c1" >FULL TITLE :  {{display.fullTitle}}   </p>
        <p id="c2" >RANK:  {{display.rank}} </p>
        <p id="c1" >FULL TITLE :   {{display.fullTitle}}  </p>
        <p id="c2" > CREW: {{display.crew}}  </p>
        <p id="c2" > RATING  {{display.Rating}}  </p>
        <p id="c2" > RATING COUNT : {{display.RatingCount}}  </p>
        <p id="c2" > YEAR : {{display.year}}  </p>


        
        <p id="c2" > VIEWS :{{display.views}}  </p>
        <p id="c2" >  GENRE :{{display.genre}}  </p>

      <button class="btn  d-block mx-auto btn-success">Add to cart</button>
    